@font-face {
    font-family: 'Roboto_Light';
    src: url('../fonts/Roboto_Light/Roboto-Light.eot') format('eot'), 
    url('../fonts/Roboto_Light/Roboto-Light.ttf') format('ttf'),
    url('../fonts/Roboto_Light/Roboto-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Bebaus_Bold';
    src: url('../fonts/Bebaus_Bold/BebasNeueBold.eot') format('eot'), 
    url('../fonts/Bebaus_Bold/BebasNeueBold.ttf') format('ttf'),
    url('../fonts/Bebaus_Bold/BebasNeueBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebaus_Thin';
    src: url('../fonts/Bebaus_Thin/BebasNeue-Thin.eot') format('eot'), 
    url('../fonts/Bebaus_Thin/BebasNeue-Thin.ttf') format('ttf'),
    url('../fonts/Bebaus_Thin/BebasNeue-Thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebaus_Regular';
    src: url('../fonts/Bebaus_Regular/BebasNeueRegular.eot') format('eot'), 
    url('../fonts/Bebaus_Regular/BebasNeueRegular.ttf') format('ttf'),
    url('../fonts/Bebaus_Regular/BebasNeueRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Themify';
    src: url('../fonts/Themify/themify.eot') format('eot'), 
    url('../fonts/Themify/themify.ttf') format('ttf'),
    url('../fonts/Themify/themify.woff') format('woff'),
    url('../fonts/Themify/themify.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}