@mixin container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

@mixin price {
    font-family: $font-Bebaus_Thin;
    font-size: 56px;
}

@mixin button {
    position: absolute;
    bottom: -25px;
    padding: 15px 50px;
    border-radius: 27px;
    border: none;
    background: #6fcffb;
    font-family: $font-Bebaus_Bold;
    font-size: 18px;
    cursor: pointer;
    -webkit-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

@mixin circle {
    position: absolute;
    border-radius: 100%;
    background: #fd8d7b;
}